
<%- include('../layouts/main_header.ejs'); %>
 

<a href="/ingredientes-create" class="btn btn-success ml-auto">Novo Produto</a>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Marca</th>
        <th>Ativo</th>
        <th>Data ultima atualização de preço</th>
      </tr>
    </thead>
    <tbody>
      <% for (const produto of banco) { %>
        <tr style="<%=produtoSave && produtoSave == produto.id.toString() ? 'background-color: yellow' : '' %>">
          <td><%= produto.ds_nome %></td>
          <td><%= produto.ds_marca %></td>
          <td><%= produto.tp_ativo ? 'sim' : 'nao' %></td>
          <td><%=  produto.date  %></td>
          <td><%= produto.unidade %></td>
          <td><%= produto.quantidade %></td>
          <td><%= produto.preco %>    </td>

          <td><a href="/ingredientes-edit?id=<%= produto.id %>">Editar</a></td>
        </tr>
      <% } %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total de produtos: <%= banco.length %></td>
      </tr>
    </tfoot>
  </table>


<%- include('../layouts/main_footer.ejs'); %>